<%
    if (useLayout) {
        layout('../shared/layout')
        block('title', __('coming_soon.title'))
    }
    stylesheet('/css/coming-soon.css')
%>

<section id="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="page-logo" href="/">
                    <img src="/img/logo.png" alt="Reboot Experts" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="page-title"><%= __('coming_soon.title') %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="name" placeholder="<%= __('contact_form.name') %>*" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">+38</span>
                                    <input class="form-control" name="phone" placeholder="<%= __('contact_form.phone') %>*" type="tel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" name="email"  placeholder="<%= __('contact_form.email') %>*" type="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" name="issue"  placeholder="<%= __('contact_form.issue') %>" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message"  placeholder="<%= __('contact_form.message') %>" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn contact-form-submit" type="button"><%= __('contact_form.submit') %></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>