<%
    if (useLayout) {
        layout('../shared/layout')
        block('title', __('title'))
    }
%>
<section class="banner">
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars fa-2x"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="/img/logo.png" alt="Reboot Experts" />
                    </a>
                </div>
                <div id="navigation" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#services"><%= __('menu.services') %></a></li>
                        <li><a href="#pricing"><%= __('menu.pricing') %></a></li>
                        <!--<li><a href="#cooperation">Сотрудничество</a></li>-->
                        <li><a href="#about"><%= __('menu.about_us') %></a></li>
                        <li><a class="btn get-doctor" href="#get-doctor"><%= __('call_doctor') %></a></li>
                        <!--<li><a href="/login">Войти</a></li>-->
                        <!--<li><a href="/sign-up">Зарегистрироваться</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="banner-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title"><%= __('banner.title') %></h1>
                    <h2 class="subtitle"><%= __('banner.subtitle') %></h2>
                    <p><%= __('banner.description') %></p>
                    <a class="btn get-doctor btn-lg" href="#get-doctor" role="button"><%= __('call_doctor') %></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="quick-contacts">
    <div class="container">
        <ul class="list-inline">
            <% data.phones.forEach(function(phone) { %>
                <li class="hidden-xs">
                    <a href="tel:<%= phone.replace(/[\s\+]/g, '') %>"><i class="fa fa-phone"></i> <%= phone %></a>
                </li>
            <% }); %>
            <li class="hidden-xs">
                <a href="mailto:<%= data.email %>"><i class="fa fa-envelope-o"></i> <%= data.email %></a>
            </li>
            <% for(social in data.socials) { %>
                <li class="social hidden-xs <%= social %>">
                    <a href="<%= data.socials[social] %>" target="_blank"><i class="fa fa-<%= social %>"></i></a>
                </li>
            <% } %>
            <% data.locales.forEach(function(locale) { %>
                <li class="language">
                    <a href="javascript:;" class="change-locale" data-locale="<%= locale %>"><img src="/img/<%= locale %>.png" alt="<%= locale %>"></a>
                </li>
            <% }); %>
        </ul>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading"><%= __('services.title') %> <span class="subheading"><%= __('services.subtitle') %></span></h2>
            </div>
        </div>
        <div class="row">
            <% for (service in data.services) { %>
                <div class="col-md-4">
                    <div class="service <%= service %>">
                        <div class="service-icon"><i class="<%= data.services[service].icon %>"></i></div>
                        <div class="service-name"><%= __('services.' + service + '.name') %></div>
                        <div class="service-description"><%= __('services.' + service + '.description') %></div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
                <ul class="pricing-list">
                    <% for ( var i = 0; i < data.pricing.length; i++) { %>
                        <li>
                            <div class="price"><%- data.pricing[i] %></div>
                            <div class="info">
                                <span class="name"><%= __('pricing.' + i) %></span>
                            </div>
                            <a href="#get-doctor" data-type="<%= __('pricing.' + i) %>"><%= __('call_doctor') %></a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>